{{ define "main" }}

<nav class="row m-0 inner-page-nav w-100 d-flex align-items-center justify-content-between">
    <div class="wordmark pl-4"><a href="/" class="no-underline whitetext">h y p e r o b j e k t</a></div>
    <div class="nav-menu pr-4 d-none d-md-block"></div>
    <div class="drawer-toggle d-md-none pr-3" id="toggleDrawer" aria-controls="#drawer" aria-label="Toggle navigation drawer">
        <span class="navbar-toggler-icon"></span>
    </div>
</nav>

<div class="colored-rectangles rect-md d-none d-md-block row m-0">
    <div class="col-12 d-flex justify-content-center align-items-center rectangle-wrapper">
        <div class="yellow-rect d-block">
            <img src="/images/yellow-rect.png" />
        </div>
        <div class="green-rect d-block">
            <img src="/images/green-rect.png" />
        </div>    
        <div class="red-rect d-block">   
            <img src="/images/red-rect.png" />
        </div>    
        <div class="blue-rect d-block">   
            <img src="/images/blue-rect.png" />
        </div> 
    </div>    
</div>  

<div id="hero" class="row mx-0 d-flex align-items-center justify-content-center hero dkbluebg" style="">
        <div class="h0-logo col-12 col-md-9 col-lg-12 mx-auto d-flex flex-column justify-content-center align-items-center">    
                {{ partial "h0screenv4-1" }}
                {{/* partial "subtext" */}}
                <h2 class="mt-2">Site Analytics</h2>
                <p class="text-center">Clients: your analytics page can be reached by adding<br> <span class="boldblue">/analytics</span> <br>to the end of your site URL.</p>
            </div> 
            
</div>
   



{{ end }}
