{{ define "main" }}

<div id="hero" class="hero dkbluebg" style="">
    <div class="hero-child row">
 
    
        <div class="column col-sm-10 col-mm-4 offset-mm-1 d-flex justify-content-center flex-column">
        
            <h2 class="whitetext" tabindex="0">Hyper<span class="bitter-bold">Ø</span>bjekt</h2>
            <p class="whitetext">Design / Development / Data Visualization</p>
            
        </div>
  
     </div>
</div>

<div id="scrollTarget1" class="row some-things-to-know m-0 scroll-to-target">
    <div class="col-xs-10 offset-xs-1 col-md-10 col-lg-5 offset-md-2 py-md-15">
        <h3 tabindex="0" class="dkgraytext">About Us</h3>
        <p class="dkgraytext">We came together to conceive and build The Eviction Lab web map, launched April 2018. With decades of collective experience, we're a smart, collaborative and cross-disciplinary bunch, 
            passionate about design that affects lives for the better.</p>
    </div>
</div>

<div id="" class="row projects m-0 py-16 ">
    <div class="col-xs-10 offset-xs-1 col-md-10 col-lg-8  mx-auto">
        <h3 tabindex="0">Recent Projects</h3>
    </div>
</div>

<div class="row projects fact-1 mx-0 pb-16">
    <div class="col-xs-12 col-mm-10 offset-mm-1 col-md-6 col-lg-3 offset-lg-2">
       
        <h4 tabindex="0" class="mb-md-2">The Educational Opportunity Project at Stanford University</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ornare eget tellus a vehicula. Nulla pretium lorem ac facilisis feugiat. 
        Integer non tortor accumsan velit placerat blandit ut id arcu. 
        Donec vehicula pulvinar augue, in ornare justo bibendum non. 
        Nullam sagittis nunc blandit lacinia varius. 
        Phasellus ultrices sem mattis, cursus orci sit amet, laoreet nunc. 
        Vestibulum et diam quis metus fringilla egestas. 
        </p>
    </div>
    <div class="col-xs-12 col-mm-10 col-md-4 col-lg-3 offset-lg-1 project1" id="avg-graphic" style="display: flex; justify-content: center; align-items: center;">
        
    </div>
</div>

<div class="row projects fact-2 mx-0 pb-16">
    <div class="project2 col-xs-12 col-mm-10 offset-mm-1  offset-md-0 col-md-4 col-lg-3 offset-md-1 offset-lg-3" id="growth-graphic" style="display: flex; align-items:center;">
    
    </div>
    <div class="col-xs-12 col-mm-10 offset-mm-1 offset-md-0 col-md-6 col-lg-3 offset-lg-1">
       
        <h4 tabindex="0" class="mb-md-2">The Eviction Lab at Princeton University</h4>  
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ornare eget tellus a vehicula. Nulla pretium lorem ac facilisis feugiat. 
                Integer non tortor accumsan velit placerat blandit ut id arcu. 
                Donec vehicula pulvinar augue, in ornare justo bibendum non. 
                Nullam sagittis nunc blandit lacinia varius. 
                Phasellus ultrices sem mattis, cursus orci sit amet, laoreet nunc. 
                Vestibulum et diam quis metus fringilla egestas. 
                </p>
    </div>
</div>

<div class="row projects fact-3 mx-0 pb-16">
    <div class="col-xs-12 col-mm-10 offset-mm-1 col-md-6 col-lg-3 offset-lg-3">
        <h4 tabindex="0" class="mb-md-2">The Dignity + Debt Network</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ornare eget tellus a vehicula. Nulla pretium lorem ac facilisis feugiat. 
                Integer non tortor accumsan velit placerat blandit ut id arcu. 
                Donec vehicula pulvinar augue, in ornare justo bibendum non. 
                Nullam sagittis nunc blandit lacinia varius. 
                Phasellus ultrices sem mattis, cursus orci sit amet, laoreet nunc. 
                Vestibulum et diam quis metus fringilla egestas. 
                </p>
    </div>
    <div class="project3 col-xs-12 col-mm-10 offset-mm-1 col-md-4 offset-md-0 col-lg-3 offset-lg-1 hpgraphic" id="trendgraphic" style="display: flex; align-items:center;">
    </div>
</div>

<div class="row projects fact-4 mx-0 pb-16">
    <div class="project4 col-xs-12 col-mm-10 offset-mm-1  offset-md-0 col-md-4 col-lg-3 offset-md-1 offset-lg-2 hpgraphic" id="growth-graphic" style="display: flex; align-items:center;">
    </div>
    <div class="col-xs-12 col-mm-10 offset-mm-1 offset-md-0 col-md-6 col-lg-3 offset-lg-1">
    
        <h4 tabindex="0" class="mb-md-2">The Stanford Basic Income Lab</h4>  
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ornare eget tellus a vehicula. Nulla pretium lorem ac facilisis feugiat. 
                Integer non tortor accumsan velit placerat blandit ut id arcu. 
                Donec vehicula pulvinar augue, in ornare justo bibendum non. 
                Nullam sagittis nunc blandit lacinia varius. 
                Phasellus ultrices sem mattis, cursus orci sit amet, laoreet nunc. 
                Vestibulum et diam quis metus fringilla egestas. 
                </p>
    </div>
</div>

<div class="services m-0 pt-14 pb-15">
    <div class="row">
        <div class=" col-xs-10 offset-xs-1 col-mm-4 offset-mm-2 mb-md-4">
            <h3 tabindex="0" class="whitetext">Services</h3>
        </div>        
    </div>
    <div class="row">
        <div class=" col-xs-10 offset-xs-1 col-mm-4 offset-mm-2">
        
            <ul tabindex="0"class="whitetext">
                <li><span class="bold-bullet">φ</span> &nbsp; Data Visualization</li>
                <li><span class="bold-bullet">φ</span> &nbsp; Branding</li>
                <li><span class="bold-bullet">φ</span> &nbsp; Illustration</li>
            </ul>
        
        </div>
        <div class=" col-xs-10 offset-xs-1 col-mm-4 offset-mm-0">
        
            <ul tabindex="0"class="whitetext">
                <li><span class="bold-bullet">φ</span> &nbsp; Web Design</li>
                <li><span class="bold-bullet">φ</span> &nbsp; Copywriting & Editing</li>
                <li><span class="bold-bullet">φ</span> &nbsp; Analytics, SEO, & Media Tracking</li>
            </ul>
        
        </div>
    </div>
</div>



{{ partial "subscribe.html" .}}

{{ end }}
