{{ define "main" }}


<div class="colored-rectangles rect-md d-none d-md-block row m-0">
    <div class="col-12  pr-0 yellow-rect d-block">
        <img src="/images/yellow-rect.png" />
    </div>
    <div class="col-12  pr-0 green-rect d-block">
        <img src="/images/green-rect.png" />
    </div>    
    <div class="col-12 red-rect  pr-0 d-block">   
        <img src="/images/red-rect.png" />
    </div>    
    <div class="col-12 blue-rect  pl-0 d-block">   
        <img src="/images/blue-rect.png" />
    </div> 
</div>  

<div id="hero" class="row mx-0 d-flex align-items-center justify-content-center hero dkbluebg" style="">
        <div class="h0-logo col-12 col-md-8 col-lg-12 mx-auto d-flex flex-column justify-content-center align-items-center">    
                {{ partial "h0screenv4-1" }}
                {{ partial "subtext" }}
            </div> 
            
</div>
   

<div id="scrollTarget1" class="row about-us m-0 scroll-to-target">
    <div class="col-10 offset-1 col-md-5 col-lg-4 offset-lg-2 personnel mt-1 my-md-6" style="background-image: url('/images/Personnel-2x-4.jpg')"></div>
    <div class="col-xs-10 col-md-5 col-lg-4 pt-0 pb-8 pt-md-16 pb-md-18">
        <!--<h3 tabindex="0" class="dkgraytext mb-3">About Us</h3>-->
        <p class="dkgraytext">We are a digital agency focused on innovative work for social good. We partner with universities, nonprofits, authors, and others
            to maximize their public impact, and we have special experience in translating academic concepts and datasets to the general
            public via engaging human-centered design, copy, and data visualization.
        </p>
    </div>
</div>

<div id="" class="row projects m-0 py-8 pt-md-16 pb-md-8 pt-lg-12 pb-lg-8">
    <div class="col-xs-10 offset-xs-1 col-md-10 col-xl-8 mx-auto">
        <h3 tabindex="0">Projects</h3>
    </div>
</div>

<div class="row projects d-flex fact-1 mx-0 pb-8 pb-md-16">
    <div class="order-2 order-md-1 col-12 col-md-6 offset-md-1 col-lg-5 col-xl-3 offset-xl-2 pt-4 pt-md-0 pr-md-8 pr-xl-0">
       
        <h4 tabindex="0" class="mb-2">The Educational Opportunity Project at Stanford University</h4>
        <p>For the Stanford Education Data Archive, we have mapped and charted America's authoritative 
            database of educational statistics. Users can view normalized test scores for 
            every county, district, and public school in the nation via interactive maps, scatterplot charts, and other visualizations.
        </p>
        <a href="https://edopportunity.org" target="_blank"><h5 class="mt-3">VIEW LIVE WEBSITE  <img src="/images/icons/rightarrow.svg" /></h5></a>  
    </div>
    <div class="order-1 order-md-2 col-11 col-md-4 offset-md-0 col-xl-3 offset-xl-1 project1" id="avg-graphic" style="display: flex; justify-content: center; align-items: center;">
               
        <div class="inactive-link"></div> 
            
    </div>
    
</div>

<div class="row projects d-flex fact-2 mx-0 pb-8 pb-md-16">
   
    <div class="project2 order-1 order-md-1 col-11 col-md-4 offset-md-1  offset-lg-2 col-xl-3 offset-xl-3" id="growth-graphic" style="display: flex; justify-content: center; align-items:center;"> 
        <a href="https://evictionlab.org/" target="_blank" data-toggle="tooltip" data-placement="top" title="VIEW LIVE WEBSITE">
            
        </a>
  
    </div>
    
    <div class="order-2 order-md-2 col-12 offset-md-0 col-md-6 col-lg-4 col-xl-3 offset-lg-1 mt-4 mt-md-0 pl-md-8 pl-lg-0">
       
        <h4 tabindex="0" class="mb-2">The Eviction Lab at Princeton University</h4>  
        <p>Working with a research team led by Matthew Desmond (Pulitzer Prize-winning author of <i>Evicted: Poverty and Profit in the American City</i>), we
            created evictionlab.org to map and visualize the first-ever nationwide database of eviction statistics. The website has been featured in The New York Times,
            NPR's Fresh Air, and countless other national and local news articles.
                </p>
                <a href="https://evictionlab.org/" target="_blank"><h5 class="mt-3">VIEW LIVE WEBSITE  <img src="/images/icons/rightarrow.svg" /></h5></a>        
    </div>
</div>

<div class="row projects d-flex fact-3 mx-0 pb-8 pb-md-16">
    <div class="order-2 order-md-1 col-12 mt-4 mt-md-0 col-md-6 col-lg-4 offset-md-1 col-xl-3 offset-xl-2 pr-md-8 pr-lg-0 pl-xl-6 pr-xl-0">
        <h4 tabindex="0" class="mb-2">The Dignity + Debt Network</h4>
        <p>Princeton University's Dignity + Debt Network is a global network of scholars, advocates, and 
            financial organizations working to understand and empower the linkages between lending and human values. We created a 
            website to bring their work to the wider public, and will soon debut original interactive visualizations there as well.
                </p>
        <a href="https://www.dignityanddebt.org/" target="_blank"><h5 class="mt-3">VIEW LIVE WEBSITE <img src="/images/icons/rightarrow.svg" /></h5> </a>        
    </div>
    <div class="project3 order-1 order-md-2 col-11  col-md-4  offset-md-0 col-lg-4 col-xl-3 offset-lg-1 hpgraphic" id="trendgraphic" style="display: flex; align-items:center;">
            <a href="https://www.dignityanddebt.org/" target="_blank"></a>
           
    </div>
</div>

<div class="row projects d-flex fact-4 mx-0 pb-8 pb-md-16">
    <div class="project4 order-1 order-md-1 col-11 offset-md-0 col-md-4 offset-md-1 offset-lg-2 col-xl-3  offset-xl-2 hpgraphic" id="growth-graphic" style="display: flex; align-items:center;">
          
            <a href="https://basicincome.stanford.edu/" target="_blank" data-toggle="tooltip" data-placement="top" title="VIEW LIVE WEBSITE">
            
            </a>
            
    </div>
    <div class="order-2 order-md-2 col-12 mt-4 mt-md-0 offset-md-0 col-md-6 col-lg-4 offset-lg-1 col-xl-3 offset-xl-1 pl-md-8 pl-lg-0">
    
        <h4 tabindex="0" class="mb-2">The Stanford Basic Income Lab</h4>  
        <p>For the nation's premier research organization devoted to the study of Universal Basic Income (UBI), we are creating
            a website and set of interactive visualizations to track and explore UBI research.
                </p>
        <a href="https://basicincome.stanford.edu/" target="_blank"><h5 class="mt-3">VIEW LIVE WEBSITE <img src="/images/icons/rightarrow.svg" /></h5> </a>

                
    </div>
</div>

<div class="services m-0 py-8 pt-md-13 pb-md-15">
    <div class="row m-0">
        <div class="col-12 col-md-4 offset-md-1 offset-lg-2 mb-3 mb-md-4">
            <h3 tabindex="0" class="whitetext">Services</h3>
        </div>        
    </div>
    <div class="row">
        <div class="col-12 col-md-4 offset-md-2 px-0 px-md-0">
        
            <ul tabindex="0"class="whitetext mb-0 px-2 px-md-1 px-lg-5">
                <li><span class="hyper-bullet">Ø</span> &nbsp; Data Visualization</li>
                <li><span class="hyper-bullet">Ø</span> &nbsp; Branding</li>
                <li><span class="hyper-bullet">Ø</span> &nbsp; Illustration</li>
            </ul>
        
        </div>
        <div class="col-12 col-md-5 px-0 px-md-0">
        
            <ul tabindex="0"class="whitetext mb-0 px-2 px-md-0">
                <li><span class="hyper-bullet">Ø</span> &nbsp; Web Design</li>
                <li><span class="hyper-bullet">Ø</span> &nbsp; Copywriting & Editing</li>
                <li><span class="hyper-bullet">Ø</span> &nbsp; Analytics, SEO, & Media Tracking</li>
            </ul>
        
        </div>
    </div>
</div>

<div class="contact-wrapper">
        <div class="row m-0">
            <div class="col-12 col-md-10 col-lg-5 offset-md-1 offset-lg-2 pt-8 pb-10 py-md-16">
                <h3 tabindex="0" class="dkgraytext">Contact Us</h3>
                <form class="mt-3 mt-md-4" name="h0contact" data-netlify="true" method="POST">
                    <input class="w-100 my-1 p-md-2" value="" aria-label="Name (required)" name="NAME" class="contact form-control light" id="" placeholder="Name (required)" required="true" type="text"> 
                    <input class="w-100 my-1 p-md-2" value="" aria-label="Email Address" name="EMAIL" class="contact form-control light" id="" placeholder="Email address (required)" required="true" type="email"> 
                    <textarea class="w-100 mt-1 mb-4 p-md-2" name="message" aria-label="Your message (required)" class="contact form-control light" placeholder="Your message (required)" required="true"></textarea> 
                    <input class="btn btn-custom" value="SUBMIT" name="subscribe" id="" class="btn btn-primary" type="submit">
                </form>    
            </div>
        </div>
    </div>





{{ end }}
