{{ define "main" }}

<nav class="row m-0 inner-page-nav drop-shadow w-100 d-flex align-content-center justify-content-between">
    <div class="wordmark pl-4"><a href="/" class="no-underline whitetext">h y p e r o b j e k t</a></div>
    <div class="nav-menu d-none d-md-block pr-4"><a href="/" class="no-underline pr-4 menu-active">h o m e</a><a href="/#work" class="no-underline pr-4">w o r k</a><a href="/blog" class="no-underline">b l o g</a></div>
    <button class="drawer-toggle d-md-none pr-3" id="toggleDrawer" type="button" aria-controls="#drawer" aria-label="Toggle navigation drawer">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>
 


<div class="row pt-13">
    <div class="col-xs-12 col-md-10 col-lg-9 col-xl-8 mb-10 mx-auto">
        <h1 tabindex="0" class="dkgraytext mb-2">{{ .Title }}</h1>
        <h2 tabindex="0" class="dkgraytext mb-4">{{ .Params.subtitle }}</h2>
        {{ .Content }}
         </div>
</div>


{{ partial "footer2.html" . }}

{{ end }}

