.analytics-reporting {
    overflow: scroll;

    iframe {
        @include media-breakpoint-up(md) {
            max-width: 100%;
        }
    }
    ul li {
        a {
           // color: $color1;
        }
        list-style: disc;
        margin-left: 1.6rem;
      
      }
}

.type-analytics-list {
    .hero-overlay {
        position: relative;
        width: 100%;
        background-image: url('/images/backgrounds/methods-bar-graph.svg');
        background-repeat: no-repeat;
        background-position: 74% bottom;
        background-size: 29%;
    }
    h1 {
        @include futura-medium;
        font-size: 1.7rem;
        @include media-breakpoint-up(sm) {
        font-size: 4rem;
        line-height: 1.4;
        }
        @include media-breakpoint-up(md) {
        font-size: 5rem;
        //color: #FFFFFF;
        letter-spacing: 0.049rem;
        line-height: 7rem;
        max-width: 66%;
        }
    }
    h2 {
        font-size: 3rem;
        letter-spacing: 0.049rem;
        font-family: futura-pt, sans-serif;
        font-weight: 500;
        font-style: normal;
        line-height: 1.35;
        color: #04143c;
        border-top: 4px solid #04143c;
        padding-top: 16px;
    }
    a:hover {
        color: #17306d;
    }
}

.subnav ul li a:hover {
    color: #17306d !important;
}

.analytics-header {
    background: rgb(5,21,45);
    background: linear-gradient(0deg, #1e151f 0%, #092146 100%);
    background: linear-gradient(0deg, rgba(30,21,31,1) 0%, rgba(24,43,60,1) 100%);
    background: linear-gradient(0deg, #1f1421 -2%, #0e2e4a 100%);


    h1 {
        color: #fff;
    }
}