#keylistener {
    .playing {
        transition: 0.5s;
        background-color: rgb(185, 3, 3);
    }
}
// Resources Map
#show-data {
    //transform: translateX(2400px);
    
    &.move-left {
    animation: 3s moveLeft;    
    
    @keyframes moveLeft {
        0%   {transform: translateX(2400px);}
        100%  {transform: translateX(0px);}
       
    }
      }
}

svg#usmap {
    g:hover {
        cursor: pointer;
        path.shape {
            fill: #434878;
            transition: fill .3s ease;
        }
        path.text {
            fill: #fff;
            transition: fill .2s ease;
        }
    }
}

#show-crosswalk {
    .years {
        display: none;
        &.show {
            display: block;
        }
    }
}