body.pulsetest {
    background-color: #021029;
    .hero {
        height: 100vh;
        width: 100%;
        overflow: auto;
    }
}

body.home {
    background-color: #021029;
    //overflow: hidden;
    .colored-rectangles {
        position: absolute;
        width: 100%;

      
            height: 90vh;
       
        .yellow-rect {
            img {
               // transform: scale(0.5);
            }
        } 
        .red-rect {
            align-items: flex-start;
            justify-content: flex-end;
            img {
                opacity: 0.9;
             //   transform: scale(0.45);
            }
        }
        .green-rect {
            img {
              //  transform: scale(0.3);
            }
        } 
        .blue-rect {
            img {
               // transform: scale(0.4);
            } 
        } 
        img {
         width: 100%; 
         @include media-breakpoint-up(lg) {
            width: 80%;
         }   
         will-change: ('opacity, transform');
        }
        .col-12 {
            position: absolute;
            left: -2%;
            top: -10%;
            img {
                @include media-breakpoint-down(mm) {
                    height: 50vh;
                    
                }
            }
            @include media-breakpoint-up(md) {
                left: 0%;
                top: -10%;
            }
            @include media-breakpoint-up(lg) {
                left: 9%;
                top: 50%;
                margin-top: -40%; 
            }
            @include media-breakpoint-up(xl) {
                top: 50%;
                margin-top: -35%;
            }
            
            
        }
        
    }
    .hero {
        height: 290px;
        @include media-breakpoint-up(md) {
            height: 90vh;
        }
        width: 100%;
        overflow: auto;
        svg {
            max-width: 100%;
            &#subtext {
                width: 360px !important;
                height: 160px !important;
                @include media-breakpoint-up(md) {
                    width: 320px !important;
                    height: 110px !important;
                }
            }
         
        }
        #color-rects {
            margin-top: 3%;
        }
        .h0-logo {
            height: 63%;
        }
        .h0-logo-subhead {
            height: 37%;
        }
    }
}