body.pulsetest {
    background-color: #021029;
    .hero {
        height: 100vh;
        width: 100%;
        overflow: auto;
    }
}

body.home {
    background-color: #021029;
    .colored-rectangles {
        position: absolute;
        width: 100%;
        height: 90vh;
        .yellow-rect {
            align-items: flex-end;
            justify-content: flex-end;
            img {
                transform: translate(100px, 100px);
            }
        } 
        .green-rect {
            align-items: flex-end;
            justify-content: flex-start;
            img {
                transform: translate(-100px, 100px);
            }
        }
        .red-rect {
            align-items: flex-start;
            justify-content: flex-end;
            img {
                transform: translate(100px, -100px);
            }
        } 
        .blue-rect {
            align-items: flex-start;
            justify-content: flex-start;
            img {
                transform: translate(-100px, -100px);
            }
        }
        img {
         width: 90%;
         will-change: transform;
        }
    }
    .hero {
        height: 90vh;
        width: 100%;
        overflow: auto;
        svg {
            max-width: 100%;
            position: absolute;
        }
        #color-rects {
            margin-top: 3%;
        }
        .h0-logo {
            height: 63%;
        }
        .h0-logo-subhead {
            height: 37%;
        }
    }
}