{{ define "main" }}



<a href="#" class="state" id="ak1">Get Alaska data</a>
<a href="#" class="state" id="al2">Get Alabama data</a>
<label for="states">Choose a state:</label>
    <form>
        <select class="states" id="states">
        <option value="ak1">Alaska</option>
        <option value="al2">Alabama</option>
        <option value="az3">Arizona</option>
        <option value="ar4">Arkansas</option>
        <option value="ca5">California</option>
        <option value="co6">Colorado</option>
        <option value="ct7">Connecticut</option>
        <option value="de8">Delaware</option>
        <option value="dc9">District of Columbia</option>
        <option value="fl10">Florida</option>
        <option value="ga11">Georgia</option>
        <option value="hi12">Hawaii</option>
        <option value="id13">Idaho</option>
        <option value="il14">Illinois</option>
        <option value="in15">Indiana</option>
        <option value="in16">Iowa</option>
        <option value="ks17">Kansas</option>
        <option value="/kentucky" class="states-options" id="KY">Kentucky</option>
        <option value="/louisiana" class="states-options" id="LA">Louisiana</option>
        <option value="/maine" class="states-options" id="ME">Maine</option>
        <option value="/maryland" class="states-options" id="MD">Maryland</option>
        <option value="/massachusetts" class="states-options" id="MA">Massachusetts</option>
        <option value="/michigan" class="states-options" id="MI">Michigan</option>
        <option value="/minnesota" class="states-options" id="MN">Minnesota</option>
        <option value="/mississippi" class="states-options" id="MS">Mississippi</option>
        <option value="/missouri" class="states-options" id="MO">Missouri</option>
        <option value="/montana" class="states-options" id="MT">Montana</option>
        <option value="/nebraska" class="states-options" id="NE">Nebraska</option>
        <option value="/nevada" class="states-options" id="NV">Nevada</option>
        <option value="/new-hampshire" class="states-options" id="NH">New Hampshire</option>
        <option value="/new-jersey" class="states-options" id="NJ">New Jersey</option>
        <option value="/new-mexico" class="states-options" id="NM">New Mexico</option>
        <option value="/new-york" class="states-options" id="NY">New York</option>
        <option value="/north-carolina" class="states-options" id="NC">North Carolina</option>
        <option value="/north-dakota" class="states-options" id="ND">North Dakota</option>
        <option value="/ohio" class="states-options" id="OH">Ohio</option>
        <option value="/oklahoma" class="states-options" id="OK">Oklahoma</option>
        <option value="/oregon" class="states-options" id="OR">Oregon</option>
        <option value="/pennsylvania" class="states-options" id="PA">Pennsylvania</option>
        <option value="/rhode-island" class="states-options" id="RI">Rhode Island</option>
        <option value="/south-carolina" class="states-options" id="SC">South Carolina</option>
        <option value="/south-dakota" class="states-options" id="SD">South Dakota</option>
        <option value="/tennessee" class="states-options" id="TN">Tennessee</option>
        <option value="/texas" class="states-options" id="TX">Texas</option>
        <option value="/utah" class="states-options" id="UT">Utah</option>
        <option value="/vermont" class="states-options" id="VT">Vermont</option>
        <option value="/virginia" class="states-options" id="VA">Virginia</option>
        <option value="/washington" class="states-options" id="WA">Washington</option>
        <option value="/west-virginia" class="states-options" id="WV">West Virginia</option>
        <option value="/wisconsin" class="states-options" id="WI">Wisconsin</option>
        <option value="/wyoming" class="states-options" id="WY">Wyoming</option>
                </select>
        </select>
        <input type="button" name="Submit" value="Go" class="submit-state">
    </form>    
    <div id="show-data" class="row"></div>
    <div id="show-data2" class="row">
        <div></div>
    </div>



{{ end }}