{{ define "main" }}

{{ partial "usamap.html" }}

<a href="#" class="state" id="ak1">Get Alaska data</a>
<a href="#" class="state" id="al2">Get Alabama data</a>
<label for="states">Choose a state:</label>
    <form>
        <select class="states" id="states">
        <option value="ak1">Alaska</option>
        <option value="al2">Alabama</option>
        <option value="az3">Arizona</option>
        <option value="ar4">Arkansas</option>
        <option value="ca5">California</option>
        <option value="co6">Colorado</option>
        <option value="ct7">Connecticut</option>
        <option value="de8">Delaware</option>
        <option value="dc9">District of Columbia</option>
        <option value="fl10">Florida</option>
        <option value="ga11">Georgia</option>
        <option value="hi12">Hawaii</option>
        <option value="id13">Idaho</option>
        <option value="il14">Illinois</option>
        <option value="in15">Indiana</option>
        <option value="ia16">Iowa</option>
        <option value="ks17">Kansas</option>
        <option value="ky18" id="KY">Kentucky</option>
        <option value="la19" id="LA">Louisiana</option>
        <option value="me20" id="ME">Maine</option>
        <option value="md21" id="MD">Maryland</option>
        <option value="ma22" id="MA">Massachusetts</option>
        <option value="mi23" id="MI">Michigan</option>
        <option value="mn24" id="MN">Minnesota</option>
        <option value="ms25" id="MS">Mississippi</option>
        <option value="mo26" id="MO">Missouri</option>
        <option value="mt27" id="MT">Montana</option>
        <option value="ne28" id="NE">Nebraska</option>
        <option value="nv29" id="NV">Nevada</option>
        <option value="nh30" id="NH">New Hampshire</option>
        <option value="nj31" id="NJ">New Jersey</option>
        <option value="nm32" id="NM">New Mexico</option>
        <option value="ny33" id="NY">New York</option>
        <option value="nc34" id="NC">North Carolina</option>
        <option value="nd35" id="ND">North Dakota</option>
        <option value="oh36" id="OH">Ohio</option>
        <option value="ok37" id="OK">Oklahoma</option>
        <option value="or38" id="OR">Oregon</option>
        <option value="pa39" id="PA">Pennsylvania</option>
        <option value="ri40" id="RI">Rhode Island</option>
        <option value="sc41" id="SC">South Carolina</option>
        <option value="sd42" id="SD">South Dakota</option>
        <option value="tn43" id="TN">Tennessee</option>
        <option value="tx44" id="TX">Texas</option>
        <option value="ut45" id="UT">Utah</option>
        <option value="vt46" id="VT">Vermont</option>
        <option value="va47" id="VA">Virginia</option>
        <option value="wa48" id="WA">Washington</option>
        <option value="wv49" id="WV">West Virginia</option>
        <option value="wi50" id="WI">Wisconsin</option>
        <option value="wy51" id="WY">Wyoming</option>
                </select>
        </select>
        <input type="button" name="Submit" value="Go" class="submit-state">
    </form>  
    <ul id="filters">
            <li>
                <input type="checkbox" value="ea" id="filter-categorya" checked />
                <label for="filter-categorya">EA</label>
            </li>
            <li>
                <input type="checkbox" value="la" id="filter-categoryb" checked />
                <label for="filter-categoryb">LA</label>
            </li>
        </ul>
    <div id="show-data" class="row w-75" style="position: absolute;">
                   

    </div>






{{ end }}