{{ define "main" }}

<nav class="row m-0 inner-page-nav drop-shadow w-100 d-flex align-items-center justify-content-between">
  <div class="wordmark pl-4"><a href="/" class="no-underline whitetext">h y p e r o b j e k t</a></div>
  <div class="nav-menu d-none d-md-block pr-4"><a href="/" class="no-underline pr-4">h o m e</a><a href="/#work" class="no-underline pr-4">w o r k</a><a href="/about" class="no-underline pr-4 menu-active">a b o u t</a><a href="/blog" class="no-underline">b l o g</a></div>
  <div class="drawer-toggle d-md-none pr-3" id="toggleDrawer" aria-controls="#drawer" aria-label="Toggle navigation drawer">
    <span class="navbar-toggler-icon"></span>
  </div>
</nav>
<style>
    .timerContainer {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  width:700px;
  margin:20px auto;
  min-height: 60px;
  border-top:0px;
}
.timer, .reset {
  float:left;
  width: 54%;
  padding: 20px 0;
  font-size: 24px;
  text-align:center;
  color: #fff;
  background: #A90000;
  cursor: pointer
}
.reset {
  background: #550000;
  color: white;
  width:14.9%;
  border-left: 1px solid #990000;
}
.reset:hover {
  background: #CC0000;
}
.lighter {
  background: #CC0000
}
</style>


<div class="row">
    <div class="col-12 col-md-8 mx-auto">
        <div class="timerContainer">
            <div id="timer1" class="timer" onclick="startTimer(1)">Start Timer!</div>
            <div class="startTimer reset" onclick="startTimer(1)" >
                <i class="fas fa-play"></i>
              </div>
            <div class="pauseTimer reset" onclick="pauseTimer(1)" >
                <i class="fas fa-pause"></i>
              </div>
            <div class="resetTimer reset" onclick="resetTimer(1)">Reset</div>
        </div>
    </div>
</div>


        <script>
            var startTimerButton = document.querySelector('.startTimer');
var pauseTimerButton = document.querySelector('.pauseTimer');
var timerDisplay = document.querySelector('.timer');
var startTime;
var updatedTime;
var difference;
var tInterval;
var savedTime;
var paused = 0;
var running = 0;
function startTimer(){
  if(!running){
    startTime = new Date().getTime();
    tInterval = setInterval(getShowTime, 1);
// change 1 to 1000 above to run script every second instead of every millisecond. one other change will be needed in the getShowTime() function below for this to work. see comment there.   
 
    paused = 0;
    running = 1;
timerDisplay.style.background = "#FF0000";
    timerDisplay.style.cursor = "auto";
    timerDisplay.style.color = "yellow";
    startTimerButton.classList.add('lighter');
    pauseTimerButton.classList.remove('lighter');
    startTimerButton.style.cursor = "auto";
    pauseTimerButton.style.cursor = "pointer";
  }
}
function pauseTimer(){
  if (!difference){
    // if timer never started, don't allow pause button to do anything
  } else if (!paused) {
    clearInterval(tInterval);
    savedTime = difference;
    paused = 1;
    running = 0;
    timerDisplay.style.background = "#A90000";
    timerDisplay.style.color = "#690000";
    timerDisplay.style.cursor = "pointer";
    startTimerButton.classList.remove('lighter');
    pauseTimerButton.classList.add('lighter');
    startTimerButton.style.cursor = "pointer";
    pauseTimerButton.style.cursor = "auto";
  } else {
// if the timer was already paused, when they click pause again, start the timer again
startTimer();
  }
}
function resetTimer(){
  clearInterval(tInterval);
  savedTime = 0;
  difference = 0;
  paused = 0;
  running = 0;
  timerDisplay.innerHTML = 'Start Timer!';
  timerDisplay.style.background = "#A90000";
  timerDisplay.style.color = "#fff";
  timerDisplay.style.cursor = "pointer";
  startTimerButton.classList.remove('lighter');
  pauseTimerButton.classList.remove('lighter');
  startTimerButton.style.cursor = "pointer";
  pauseTimerButton.style.cursor = "auto";
}
function getShowTime(){
  updatedTime = new Date().getTime();
  if (savedTime){
    difference = (updatedTime - startTime) + savedTime;
  } else {
    difference =  updatedTime - startTime;
  }
  // var days = Math.floor(difference / (1000 * 60 * 60 * 24));
  var hours = Math.floor((difference % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  var minutes = Math.floor((difference % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((difference % (1000 * 60)) / 1000);
  var milliseconds = Math.floor((difference % (1000 * 60)) / 100);
hours = (hours < 10) ? "0" + hours : hours;
  minutes = (minutes < 10) ? "0" + minutes : minutes;
  seconds = (seconds < 10) ? "0" + seconds : seconds;
  milliseconds = (milliseconds < 100) ? (milliseconds < 10) ? "00" + milliseconds : "0" + milliseconds : milliseconds;
  timerDisplay.innerHTML = hours + ':' + minutes + ':' + seconds + ':' + milliseconds;
}
        </script>
    </div>
</div>


{{ partial "footer2.html" . }}


{{ end }}


