<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 950 614">
    <defs>
      <style>
         .code-grp {
            font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
         } 
        .cls-1 {
          fill: none;
        }
  
        .cls-2 {
          clip-path: url(#clip-path);
        }
  
        .cls-3 {
          clip-path: url(#clip-path-2);
        }
  
        .cls-4, .cls-7 {
          isolation: isolate;
        }
  
        .cls-5 {
          clip-path: url(#clip-path-3);
        }
  
        .cls-6 {
          clip-path: url(#clip-path-4);
        }
  
        .cls-7 {
          opacity: 0.76;
        }
  
        .cls-8 {
          clip-path: url(#clip-path-5);
        }
        
        .cls-11 {
            clip-path: url(#clip-path-7);
          }
    
          .cls-12 {
            clip-path: url(#clip-path-9);
          }
    
          .cls-13 {
            clip-path: url(#clip-path-10);
          }

        .codetext {
          font-size: 12px;
          font-family: SFMono-Regular, SF Mono;
        }
  
        .grp-1 .codetext, .grp-5 .codetext, .grp-9 .codetext, .grp-13 .codetext, .grp-17 .codetext, .grp-21 .codetext {
          fill: #b873ef;
        }
  
        .grp-2 .codetext, .grp-6 .codetext, .grp-10 .codetext, .grp-14 .codetext, .grp-18 .codetext, .grp-22 .codetext {
          fill: #6e7e98;
        }
  
        .grp-3 .codetext, .grp-7 .codetext, .grp-11 .codetext, .grp-15 .codetext, .grp-19 .codetext, .grp-23 .codetext {
          fill: #5571b9;
        }
  
        .grp-4 .codetext, .grp-8 .codetext, .grp-12 .codetext, .grp-16 .codetext, .grp-20 .codetext, .grp-24 .codetext {
          fill: #6b3b9b;
        }
      </style>
      <clipPath id="clip-path">
        <rect class="cls-1" x="118" y="103" width="407" height="407" transform="translate(-104.69 431.68) rotate(-60)"/>
      </clipPath>
      <clipPath id="clip-path-2">
        <rect class="cls-1" x="-245" y="-33" width="1440" height="680"/>
      </clipPath>
      <clipPath id="clip-path-3">
        <rect class="cls-1" x="24" y="16" width="518" height="554"/>
      </clipPath>
      <clipPath id="clip-path-4">
        <rect class="cls-1" x="53" y="64" width="547" height="496"/>
      </clipPath>
      <clipPath id="clip-path-5">
        <rect class="cls-1" x="24" y="57" width="446" height="460"/>
      </clipPath>
      <clipPath id="clip-path-7">
        <rect class="cls-1" x="425" y="111" width="407" height="407" transform="matrix(0.5, -0.87, 0.87, 0.5, 41.88, 701.55)"/>
      </clipPath>
      <clipPath id="clip-path-9">
        <rect class="cls-1" x="335" y="34" width="553" height="576"/>
      </clipPath>
      <clipPath id="clip-path-10">
        <rect class="cls-1" x="350" y="64" width="512" height="496"/>
      </clipPath>
    </defs>
    <title>h0graphic3</title>
     <!-- Center graphic -->
        <g class="grp-1 code-grp d-none centergraph"><!--left light purple-->
            <!--<text class="cls-9" transform="" x="267.49" y="297">const mapStateToProps = ({</text>-->
            <text class="codetext" transform="" x="267.49" y="247">map: { coords, viewport },</text>
            <text class="codetext" transform="" x="267.49" y="197">sections: { map: { hovered } }</text>
            <text class="codetext" transform="" x="267.49" y="147">getFeatureProperty(hovered, demographic + &apos;_&apos; + metric),</text>
            <text class="codetext" transform="" x="267.49" y="97">match: { params: { metric, demo } }</text>
            <text class="codetext" transform="" x="267.49" y="47">}) =&gt; { import { getStateFips};</text>
            <text class="codetext" transform="" x="267.49" y="-3">const varName = [demographic]) =&gt; {}</text>
            <text class="codetext" transform="" x="267.49" y="-53">export const getRangeFromVarName = </text>
            <text class="codetext" transform="" x="267.49" y="-103">x: coords &amp;&amp; coords.x, coords.y</text>
        </g>
        
        <g class="grp-2 code-grp d-none entergraph"><!--left light gray-->
            <text class="codetext" x="317.49" y="222">export const getRangeFromVarName =</text>
            <text class="codetext" x="317.49" y="172">export const getRangeFromVarName = (region) {</text>
            <text class="codetext" x="317.49" y="122">const metricId = getMetricIdFromVarName(varName)</text>
            <text class="codetext" x="317.49" y="72">const demId = getDemographicId(varN)</text>
            <text class="codetext" x="317.49" y="22">return getMetricRange(metricId);</text>
            <text class="codetext" x="317.49" y="-28">getMetricRange(metricId, constName);</text>
            <text class="codetext" x="317.49" y="-78">if (key === &apos;*&apos;) return ‘true’;</text>
            <text class="codetext" x="317.49" y="-128">if const [t, r, d, m, q = false ];</text>
            <!--<text class="cls-10" x="317.49" y="-128">return (t === &apos;*&apos; || t === type)</text>-->
        </g>        
    <!--right med blue-->
     <!-- Top left graphic -->    
            <g class="grp-5 code-grp rightmed rightmedl"><!--left light purple-->
                <!--<text class="cls-9" transform="" x="267.49" y="297">const mapStateToProps = ({</text>-->
                <text class="codetext" transform="" x="-343" y="572">YYmap: { coords, viewport },</text>
                <text class="codetext" transform="" x="-343" y="522">sections: { map: { hovered } }</text>
                <text class="codetext" transform="" x="-343" y="472">getFeatureProperty(hovered, demographic + &apos;_&apos; + metric),</text>
                <text class="codetext" transform="" x="-343" y="422">match: { params: { metric, demo } }</text>
                <text class="codetext" transform="" x="-343" y="372">}) =&gt; { import { getStateFips};</text>
                <text class="codetext" transform="" x="-343" y="322">const varName = [demographic]) =&gt; {}</text>
                <text class="codetext" transform="" x="-343" y="272">export const getRangeFromVarName = </text>
                <text class="codetext" transform="" x="-343" y="222">x: coords &amp;&amp; coords.x, coords.y</text>
            </g>
            
            <g class="grp-6 code-grp rightmed rightmedl"><!--left light gray-->
                <text class="codetext" x="-293" y="547">export const getRangeFromVarName =</text>
                <text class="codetext" x="-293" y="497">export const getRangeFromVarName = (region) {</text>
                <text class="codetext" x="-293" y="447">const metricId = getMetricIdFromVarName(varName)</text>
                <text class="codetext" x="-293" y="397">const demId = getDemographicId(varN)</text>
                <text class="codetext" x="-293" y="347">return getMetricRange(metricId);</text>
                <text class="codetext" x="-293" y="297">getMetricRange(metricId, constName);</text>
                <text class="codetext" x="-293" y="247">if (key === &apos;*&apos;) return ‘true’;</text>
                <text class="codetext" x="-293" y="197">if const [t, r, d, m, q = false ];</text>
                <!--<text class="cls-10" x="317.49" y="-128">return (t === &apos;*&apos; || t === type)</text>-->
            </g>        

            <g class="grp-7 code-grp rightmed rightmedr"> <!--right med blue-->
                <!--<text class="cls-14" x="428" y="197">import { getMapColors};</text>-->
                <text class="codetext" x="-70" y="422">import { getMapColors };</text>
                <text class="codetext" x="-70" y="372">import { onHoverFeature};</text>
                <text class="codetext" x="-70" y="322">import { getStateFipsFromAbbr, getStatePropByAbbr };</text>
                <text class="codetext" x="-70" y="272">import { getFeatureProperty };</text>
                <text class="codetext" x="-70" y="222">export const getRangeFromVarName = (varName, region)</text>
                <text class="codetext" x="-70" y="172">const metricId = getMetricIdFromVarName(varName)</text>
                <text class="codetext" x="-70" y="122">colors: getColorsFromParam(color, varName, region)</text>
                <text class="codetext" x="-70" y="72">colorRange: getMetricRange(metric, &apos;map&apos;),</text>
            </g>
            <g class="grp-8 code-grp rightmed rightmedr"> <!--right dark purple-->
                <text class="codetext" x="-20" y="397">legendRange: getMetricRange(metric, demo),</text>
                <text class="codetext" x="-20" y="347">markerPosition: hovered hovered.properties ?</text>
                <text class="codetext" x="-20" y="297">getValuePositionForMetric(</text>
                <text class="codetext" x="-20" y="247">getFeatureProperty(hovered, demo),</text>
                <text class="codetext" x="-20" y="197">legend: { getMetricRange }</text>
                <text class="codetext" x="-20" y="147">colors: getColorsFromParam(color),</text>
                <text class="codetext" x="-20" y="97">colorRange: getMetricRange(metric),</text>
                <text class="codetext" x="-20" y="47">legendRange: getMetricRange(metric),</text>
                <!--<text class="cls-15" x="448" y="-228">markerPosition: hovered ?</text>-->
            </g>
   
   

    <!-- Extreme top left corner graphic -->    
            <g class="grp-13 code-grp topleft topleftl"><!--left light purple-->
                <!--<text class="cls-9" transform="" x="267.49" y="297">const mapStateToProps = ({</text>-->
                <text class="codetext" transform="" x="-762" y="322"></text>-->
                <text class="codetext" transform="" x="-762" y="272"></text>-->
                <text class="codetext" transform="" x="-762" y="222">getFeatureProperty(hovered, demographic + &apos;_&apos; + metric),</text>
                <text class="codetext" transform="" x="-762" y="172">match: { params: { metric, demo, color } }</text>
                <text class="codetext" transform="" x="-762" y="122">}) =&gt; { import { getStateFips, getMapID };</text>
                <text class="codetext" transform="" x="-762" y="72">const varName = [demographic]) =&gt; {}</text>
                <text class="codetext" transform="" x="-762" y="22">export const getRangeFromVarName = </text>
                <text class="codetext" transform="" x="-762" y="-28">x: coords &amp;&amp; coords.x,</text>
            </g>
            
            <g class="grp-14 code-grp topleft topleftl"><!--left light gray-->
                <text class="codetext" x="-712" y="297"></text>-->
                <text class="codetext" x="-712" y="247">export const getRangeFromVarName = (region) {</text>
                <text class="codetext" x="-712" y="197">const metricId = getMetricIdFromVarName(varName)</text>
                <text class="codetext" x="-712" y="147">const demId = getDemographicId(varN)</text>
                <text class="codetext" x="-712" y="97">return getMetricRange(metricId. region );</text>
                <text class="codetext" x="-712" y="47 ">getMetricRange(metricId, constName);</text>
                <text class="codetext" x="-712" y="-3 ">if (key === &apos;*&apos;) return ‘true’;</text>
                <text class="codetext" x="-712" y="-53">if const [t, r, d, m, q = false ];</text>
                <!--<text class="cls-10" x="317.49" y="-128">return (t === &apos;*&apos; || t === type)</text>-->
            </g>        

            <g class="grp-15 code-grp topleft topleftr"> <!--right med blue-->
                <!--<text class="cls-14" x="428" y="197">import { getMapColors};</text>-->
                <text class="codetext" x="-489" y="172 ">import { getMapColors, metricId, constName };</text>
                <text class="codetext" x="-489" y="122 ">import { onHoverFeature, getMetricRange, mapID };</text>
                <text class="codetext" x="-489" y="72  ">import { getStateFipsFromAbbr, getStatePropByAbbr };</text>
                <text class="codetext" x="-489" y="22  ">import { getFeatureProperty(hovered, demo, region) };</text>
                <text class="codetext" x="-489" y="-28  ">export const getRangeFromVarName = (varName, region)</text>
                <text class="codetext" x="-489" y="-78 ">const metricId = getMetricIdFromVarName(varName)</text>
                <text class="codetext" x="-489" y="-128">colors: getColorsFromParam( color, varName, region )</text>
                <text class="codetext" x="-489" y="-178">colorRange: getMetricRange( metric, &apos;map&apos; ),</text>
            </g>
            <g class="grp-16 code-grp topleft topleftr"> <!--right dark purple-->
                <text class="codetext" x="-439" y="147 ">legendRange: getMetricRange( metric, demo ),</text>
                <text class="codetext" x="-439" y="97 ">markerPosition: hovered hovered.properties ?</text>
                <text class="codetext" x="-439" y="47  ">getValuePositionForMetric( color, varName ),</text>
                <text class="codetext" x="-439" y="-3  ">getFeatureProperty( color, hovered, demo ),</text>
                <text class="codetext" x="-439" y="-53 ">legend: { getMetricRange ( hovered, metricId ) }</text>
                <text class="codetext" x="-439" y="-103 ">colors: getColorsFromParam( color, metric, hovered ),</text>
                <text class="codetext" x="-439" y="-153">colorRange: getMetricRange( metric, region, demo ),</text>
                <text class="codetext" x="-439" y="-203">legendRange: getMetricRange(metric, color, demo ),</text>
                <!--<text class="cls-15" x="448" y="-228">markerPosition: hovered ?</text>-->
            </g>
   
            <g class="grp-21 code-grp topright toprightl"><!--left light purple-->
                <!--<text class="cls-9" transform="" x="267.49" y="297">const mapStateToProps = ({</text>-->
                <text class="codetext" transform="" x="-145" y="21  ">map: { coords, viewport },</text>
                <text class="codetext" transform="" x="-145" y="-29 ">sections: { map: { hovered } }</text>
                <text class="codetext" transform="" x="-145" y="-79 ">getFeatureProperty(hovered, demographic + &apos;_&apos; + metric),</text>
                <text class="codetext" transform="" x="-145" y="-129">match: { params: { metric, demo } }</text>
                <text class="codetext" transform="" x="-145" y="-179">}) =&gt; { import { getStateFips};</text>
                <text class="codetext" transform="" x="-145" y="-229">const varName = [demographic]) =&gt; {}</text>
                <text class="codetext" transform="" x="-145" y="-279">export const getRangeFromVarName = </text>
                <text class="codetext" transform="" x="-145" y="-329">x: coords &amp;&amp; coords.x,</text>
            </g>
            
            <g class="grp-22 code-grp topright toprightl"><!--left light gray-->
                <text class="codetext" x="-95" y="-4  ">export const getRangeFromVarName =</text>
                <text class="codetext" x="-95" y="-54 ">export const getRangeFromVarName = (region) {</text>
                <text class="codetext" x="-95" y="-104">const metricId = getMetricIdFromVarName(varName)</text>
                <text class="codetext" x="-95" y="-154">const demId = getDemographicId(varN)</text>
                <text class="codetext" x="-95" y="-204">return getMetricRange(metricId);</text>
                <text class="codetext" x="-95" y="-254">getMetricRange(metricId, constName);</text>
                <text class="codetext" x="-95" y="-304">if (key === &apos;*&apos;) return ‘true’;</text>
                <text class="codetext" x="-95" y="-354">if const [t, r, d, m, q = false ];</text>
                <!--<text class="cls-10" x="317.49" y="-128">return (t === &apos;*&apos; || t === type)</text>-->
            </g>        

            <g class="grp-23 code-grp topright toprightr"> <!--right med blue-->
                <!--<text class="cls-14" x="428" y="197">import { getMapColors};</text>-->
                <text class="codetext" x="128" y="-129">import { getMapColors };</text>
                <text class="codetext" x="128" y="-179">import { onHoverFeature};</text>
                <text class="codetext" x="128" y="-229">import { getStateFipsFromAbbr, getStatePropByAbbr };</text>
                <text class="codetext" x="128" y="-279">import { getFeatureProperty };</text>
                <text class="codetext" x="128" y="-329">export const getRangeFromVarName = (varName, region)</text>
                <text class="codetext" x="128" y="-379">const metricId = getMetricIdFromVarName(varName)</text>
                <text class="codetext" x="128" y="-429">colors: getColorsFromParam(color, varName, region)</text>
                <text class="codetext" x="128" y="-479">colorRange: getMetricRange(metric, &apos;map&apos;),</text>
            </g>
            <g class="grp-24 code-grp topright toprightr"> <!--right dark purple-->
                <text class="codetext" x="178" y="-154">legendRange: getMetricRange(metric, demo),</text>
                <text class="codetext" x="178" y="-204">markerPosition: hovered hovered.properties ?</text>
                <text class="codetext" x="178" y="-254">getValuePositionForMetric(</text>
                <text class="codetext" x="178" y="-304">getFeatureProperty(hovered, demo),</text>
                <text class="codetext" x="178" y="-354">legend: { getMetricRange }</text>
                <text class="codetext" x="178" y="-404">colors: getColorsFromParam(color),</text>
                <text class="codetext" x="178" y="-454">colorRange: getMetricRange(metric),</text>
                <text class="codetext" x="178" y="-504">legendRange: getMetricRange(metric),</text>
                <!--<text class="cls-15" x="448" y="-228">markerPosition: hovered ?</text>-->
            </g>    

  </svg>
  