<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 950 614">
    <defs>
      <style>
        .cls-1 {
          fill: none;
        }
  
        .cls-2 {
          clip-path: url(#clip-path);
        }
  
        .cls-3 {
          clip-path: url(#clip-path-2);
        }
  
        .cls-4, .cls-7 {
          isolation: isolate;
        }
  
        .cls-5 {
          clip-path: url(#clip-path-3);
        }
  
        .cls-6 {
          clip-path: url(#clip-path-4);
        }
  
        .cls-7 {
          opacity: 0.76;
        }
  
        .cls-8 {
          clip-path: url(#clip-path-5);
        }
  
        .cls-10, .cls-14, .cls-15, .cls-9 {
          font-size: 12px;
          font-family: SFMono-Regular, SF Mono;
        }
  
        .cls-9 {
          fill: #b873ef;
        }
  
        .cls-10 {
          fill: #6e7e98;
        }
  
        .cls-11 {
          clip-path: url(#clip-path-7);
        }
  
        .cls-12 {
          clip-path: url(#clip-path-9);
        }
  
        .cls-13 {
          clip-path: url(#clip-path-10);
        }
  
        .cls-14 {
          fill: #5571b9;
        }
  
        .cls-15 {
          fill: #6b3b9b;
        }
      </style>
      <clipPath id="clip-path">
        <rect class="cls-1" x="118" y="103" width="407" height="407" transform="translate(-104.69 431.68) rotate(-60)"/>
      </clipPath>
      <clipPath id="clip-path-2">
        <rect class="cls-1" x="-245" y="-33" width="1440" height="680"/>
      </clipPath>
      <clipPath id="clip-path-3">
        <rect class="cls-1" x="24" y="16" width="518" height="554"/>
      </clipPath>
      <clipPath id="clip-path-4">
        <rect class="cls-1" x="53" y="64" width="547" height="496"/>
      </clipPath>
      <clipPath id="clip-path-5">
        <rect class="cls-1" x="24" y="57" width="446" height="460"/>
      </clipPath>
      <clipPath id="clip-path-7">
        <rect class="cls-1" x="425" y="111" width="407" height="407" transform="matrix(0.5, -0.87, 0.87, 0.5, 41.88, 701.55)"/>
      </clipPath>
      <clipPath id="clip-path-9">
        <rect class="cls-1" x="335" y="34" width="553" height="576"/>
      </clipPath>
      <clipPath id="clip-path-10">
        <rect class="cls-1" x="350" y="64" width="512" height="496"/>
      </clipPath>
    </defs>
    <title>h0graphic3</title>
    <g class="cls-2">
      <g class="cls-3">
        <g class="cls-4">
          <g class="cls-5">
            <g class="cls-6">
              <g class="cls-7">
                <g class="cls-8">
                  <g class="grp-1">
                    <text class="cls-9" transform="" x="267.49" y="297">const mapStateToProps = ({</text>
                    <text class="cls-9" transform="" x="267.49" y="247">map: { coords, viewport },</text>
                    <text class="cls-9" transform="" x="267.49" y="197">sections: { map: { hovered } }</text>
                    <text class="cls-9" transform="" x="267.49" y="147">getFeatureProperty(hovered, demographic + &apos;_&apos; + metric),</text>
                    <text class="cls-9" transform="" x="267.49" y="97">match: { params: { metric, demo } }</text>
                    <text class="cls-9" transform="" x="267.49" y="47">}) =&gt; { import { getStateFips};</text>
                    <text class="cls-9" transform="" x="267.49" y="-3">const varName = [demographic]) =&gt; {}</text>
                    <text class="cls-9" transform="" x="267.49" y="-53">export const getRangeFromVarName = </text>
                    <text class="cls-9" transform="" x="267.49" y="-103">x: coords &amp;&amp; coords.x,</text>
                  </g>
                </g>
              </g>
                <g class="grp-2">
                    <text class="cls-10" x="287.49" y="272">export const getRangeFromVarName =</text>
                    <text class="cls-10" x="287.49" y="222">export const getRangeFromVarName = (varName, region, type) =&gt; {</text>
                    <text class="cls-10" x="287.49" y="172">const metricId = getMetricIdFromVarName(varName)</text>
                    <text class="cls-10" x="287.49" y="122">const demId = getDemographicId(varName)</text>
                    <text class="cls-10" x="287.49" y="72">return getMetricRange(metricId, demId);</text>
                    <text class="cls-10" x="287.49" y="22">getMetricRange(metricId, constName);</text>
                    <text class="cls-10" x="287.49" y="-28">if (key === &apos;*&apos;) return ‘true’;</text>
                    <text class="cls-10" x="287.49" y="-78">if const [t, r, d, m, q = false ];</text>
                    <text class="cls-10" x="287.49" y="-128">return (t === &apos;*&apos; || t === type)</text>
                </g>        
            </g>
          </g>
        </g>
      </g>
    </g>
    <g class="cls-11">
      <g class="cls-3">
        <g class="cls-4">
          <g class="cls-12">
            <g class="cls-13">
            <g class="grp-3">  
              <text class="cls-14" transform="translate(338.61 422.79) rotate(30)">import { getMapColors};</text>
              <text class="cls-14" transform="translate(363.57 379.56) rotate(30)">import { getMapColors };</text>
              <text class="cls-14" transform="translate(388.53 336.32) rotate(30)">import { onHoverFeature};</text>
              <text class="cls-14" transform="translate(413.49 293.09) rotate(30)">import { getStateFipsFromAbbr, getStatePropByAbbr };</text>
              <text class="cls-14" transform="translate(438.45 249.85) rotate(30)">import { getFeatureProperty };</text>
              <text class="cls-14" transform="translate(463.41 206.62) rotate(30)">export const getRangeFromVarName = (varName, region, type) =&gt; {</text>
              <text class="cls-14" transform="translate(488.38 163.38) rotate(30)">const metricId = getMetricIdFromVarName(varName)</text>
              <text class="cls-14" transform="translate(513.34 120.15) rotate(30)">colors: getColorsFromParam(color, varName, region, type),</text>
              <text class="cls-14" transform="translate(538.3 76.92) rotate(30)">colorRange: getMetricRange(metric, &apos;map&apos;),</text>
            </g>
            <g class="grp-4">  
              <text class="cls-15" transform="translate(435.07 392.94) rotate(30)">legendRange: getMetricRange(metric, demographic, region),</text>
              <text class="cls-15" transform="translate(460.03 349.71) rotate(30)">markerPosition: hovered hovered.properties ?</text>
              <text class="cls-15" transform="translate(484.99 306.47) rotate(30)">getValuePositionForMetric(</text>
              <text class="cls-15" transform="translate(509.95 263.24) rotate(30)">getFeatureProperty(hovered, demographic + &apos;_&apos; + metric),</text>
              <text class="cls-15" transform="translate(534.91 220) rotate(30)">legend: {</text>
              <text class="cls-15" transform="translate(559.87 176.77) rotate(30)">colors: getColorsFromParam(color),</text>
              <text class="cls-15" transform="translate(584.84 133.53) rotate(30)">colorRange: getMetricRange(metric),</text>
              <text class="cls-15" transform="translate(609.8 90.3) rotate(30)">legendRange: getMetricRange(metric),</text>
              <text class="cls-15" transform="translate(634.76 47.06) rotate(30)">markerPosition: hovered ?</text>
            </g>
            </g>
          </g>
        </g>
      </g>
    </g>
  </svg>
  