<svg id="color-rects" width="1440" height="100vh" viewBox="0 0 303 209" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 59.1 (86144) - https://sketch.com -->
    <title>color-rectangles</title>
    <desc>Created with Sketch.</desc>
    <defs>
        <filter x="-14.7%" y="-27.9%" width="129.4%" height="155.8%" filterUnits="objectBoundingBox" id="filter-1">
            <feGaussianBlur stdDeviation="8" in="SourceGraphic"></feGaussianBlur>
        </filter>
        <filter x="-31.0%" y="-48.6%" width="162.1%" height="197.3%" filterUnits="objectBoundingBox" id="filter-2">
            <feGaussianBlur stdDeviation="8" in="SourceGraphic"></feGaussianBlur>
        </filter>
        <filter x="-11.9%" y="-19.6%" width="123.8%" height="139.2%" filterUnits="objectBoundingBox" id="filter-3">
            <feGaussianBlur stdDeviation="8" in="SourceGraphic"></feGaussianBlur>
        </filter>
        <filter x="-36.4%" y="-64.9%" width="172.7%" height="229.7%" filterUnits="objectBoundingBox" id="filter-4">
            <feGaussianBlur stdDeviation="8" in="SourceGraphic"></feGaussianBlur>
        </filter>
    </defs>
    <g id="Page-3" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Hyperobjekt-businesscard-v1-Copy-30" transform="">
            <g id="color-rectangles" transform="">
                <rect class="bg-rects random" id="yellow-rectangle" fill="#FFCA00" opacity="0.110425967" filter="url(#filter-4)" x="20%" y="25%" width="20%" height="20%"></rect>
                <rect class="bg-rects random" id="red-rectangle" fill="#E23E00" opacity="0.207369792" filter="url(#filter-2)" x="20%" y="98.75" width="25%" height="20%"></rect>
                <rect class="bg-rects random2" id="green-rectangle" fill="#0692AD" opacity="0.178176153" filter="url(#filter-3)" x="50%" y="20%" width="40%" height="40%"></rect>
                <rect class="bg-rects random2" id="blue-rectangle" fill="#063FFE" opacity="0.135044643" filter="url(#filter-1)" x="46%" y="100.75" width="40%" height="30%"></rect>
                
            </g>
        </g>
    </g>
</svg>