<svg width="800px" height="400px" viewBox="0 0 312 72" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 59.1 (86144) - https://sketch.com -->
    <title>linesandpoints</title>
    <desc>Created with Sketch.</desc>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Hyperobjekt-businesscard-v1-Copy-25" transform="translate(-12.000000, -62.000000)">
            <g id="linesandpoints" transform="translate(12.000000, 62.000000)">
                <g id="Lines" transform="translate(0.000000, 1.000000)" stroke="#B5FAFF" stroke-linecap="square" stroke-width="0.3">
                        <line x1="0.5" class="linegrp1" y1="16.5" x2="9.5" y2="37.5" id="Line1" opacity="0.724469866"></line>
                        <line x1="0.5" class="linegrp1" y1="16.5" x2="22.5" y2="11.5" id="Line2" opacity="0.623139881"></line>
                        <line x1="0.5" class="linegrp1" y1="16.5" x2="37.5" y2="26.5" id="Line3" opacity="0.444614955"></line>
                        
                        <line x1="22.5" class="linegrp2" y1="11.5" x2="36.5" y2="26.5" id="Line4" opacity="0.444614955"></line>
                        <line x1="9.5" class="linegrp2" y1="37.5" x2="37.5" y2="26.5" id="Line4-2" opacity="0.690173921"></line>
                        
                        <line class="linegrp3" x1="22.5" y1="11.5" x2="63.5" y2="0.5" id="Line5" opacity="0.760277158"></line>
                        <line class="linegrp3" x1="37.5" y1="26.5" x2="63.5" y2="0.5" id="Line6" opacity="0.620117188"></line>
                        <line class="linegrp3" x2="69.5" y2="44.5" x1="37.5" y1="27.5" id="Line7"></line>
                        
                        <line class="linegrp4" x2="69.5" y2="43.5" x1="63.5" y1="0.5" id="Line8" opacity="0.632765997"></line>
                        <line class="linegrp4" x2="90.5" y2="14.5" x1="63.5" y1="0.5" id="Line8-2"></line>
                        <line class="linegrp4" x1="70.5" y1="42.5" x2="90.5" y2="14.5" id="Line9"></line>
                        
                        <line class="linegrp5" x2="93.5" y2="33.5" x1="90.5" y1="14.5" id="Line10"></line>
                        <line class="linegrp5" x2="88.5" y2="66.5" x1="69.5" y1="43.5" id="Line11" opacity="0.647251674"></line>
                        <line class="linegrp5" x1="69.5" y1="43.5" x2="92.5" y2="33.5" id="Line12" opacity="0.654203869"></line>
                        <line class="linegrp5" x1="69.5" y1="43.5" x2="118.5" y2="44.5" id="Line13"></line>

                        <line class="linegrp6" x2="104.5" y2="58.5" x1="88.5" y1="66.5" id="Line14" opacity="0.646693638"></line>
                        
                        <line class="linegrp7-2" x2="104.5" y2="58.5" x1="92.5" y1="44.5" id="Line15" opacity="0.654320126"></line>
                        <line class="linegrp7-1" x1="88.5" y1="66.5" x2="92.5" y2="44.5" id="Line16" opacity="0.446475074"></line>

                        <line class="linegrp8" x2="118.5" y2="44.5" x1="104.5" y1="58.5" id="Line17" opacity="0.633928571"></line>
                        <line class="linegrp8" x2="145.5" y2="67.5" x1="104.5" y1="58.5" id="Line18" opacity="0.818731399"></line>
                        <line class="linegrp8" x1="295.5" y1="54.5" x2="263.5" y2="43.5" id="Line19" opacity="0.750069754"></line>
                        <line class="linegrp8" x1="93.5" y1="33.5" x2="118.5" y2="44.5" id="Line20"></line>
                        <line class="linegrp8" x1="93.5" y1="33.5" x2="136.5" y2="7.5" id="Line-Copy-3"></line>

                        <line x1="118.5" y1="44.5" x2="144.5" y2="38.5" id="Line-Copy-12" opacity="0.588076637"></line>
                        <line x1="118.5" y1="44.5" x2="145.5" y2="67.5" id="Line-Copy-35" opacity="0.601981027"></line>
                        <line x1="211.5" y1="38.5" x2="203.5" y2="59.5" id="Line-Copy-15"></line>
                        <line x1="226.5" y1="44.5" x2="211.5" y2="38.5" id="Line-Copy-16"></line>
                        <line x1="245.5" y1="25.5" x2="214.5" y2="21.5" id="Line-Copy-27" opacity="0.531133743"></line>
                        <line x1="214.5" y1="21.5" x2="183.5" y2="26.5" id="Line-Copy-28"></line>
                        <line x1="243.5" y1="4.5" x2="214.5" y2="21.5" id="Line-Copy-29"></line>
                        <line x1="243.5" y1="4.5" x2="245.5" y2="25.5" id="Line-Copy-31" opacity="0.524181548"></line>
                        <line x1="136.5" y1="7.5" x2="145.5" y2="39.5" id="Line-Copy-32" opacity="0.56422061"></line>
                        <line x1="183.5" y1="26.5" x2="145.5" y2="38.5" id="Line-Copy-33" opacity="0.500209263"></line>
                        <line x1="118.5" y1="44.5" x2="136.5" y2="7.5" id="Line-Copy-34" opacity="0.571265811"></line>
                        <line x1="289.5" y1="26.5" x2="243.5" y2="4.5" id="Line-Copy-30"></line>
                        <line x1="225.5" y1="43.5" x2="214.5" y2="21.5" id="Line-Copy-25"></line>
                        <line x1="211.5" y1="38.5" x2="214.5" y2="21.5" id="Line-Copy-26"></line>
                        <line x1="254.5" y1="69.5" x2="226.5" y2="45.5" id="Line-Copy-18"></line>
                        <line x1="254.5" y1="69.5" x2="264.5" y2="42.5" id="Line-Copy-19"></line>
                        <line x1="264.5" y1="43.5" x2="289.5" y2="27.5" id="Line-Copy-20"></line>
                        <line x1="245.5" y1="25.5" x2="289.5" y2="27.5" id="Line-Copy-21" opacity="0.638044085"></line>
                        <line x1="245.5" y1="25.5" x2="254.5" y2="69.5" id="Line-Copy-22" opacity="0.530343192"></line>
                        <line x1="245.5" y1="25.5" x2="226.5" y2="43.5" id="Line-Copy-24" opacity="0.603399368"></line>
                        <line x1="245.5" y1="25.5" x2="264.5" y2="43.5" id="Line-Copy-23" opacity="0.583077567"></line>
                        <line x1="183.5" y1="26.5" x2="136.5" y2="7.5" id="Line-Copy-17"></line>
                        
                        <line x1="145.5" y1="67.5" x2="145.5" y2="36.5" id="Line-Copy-7"></line>
                        <line x1="145.5" y1="67.5" x2="183.5" y2="26.5" id="Line-Copy-8" opacity="0.702915737"></line>
                        <line x1="203.5" y1="59.5" x2="183.5" y2="26.5" id="Line-Copy-9"></line>
                        <line x1="145.5" y1="67.5" x2="174.5" y2="53.5" id="Line-Copy-10"></line>
                        <line x1="174.5" y1="53.5" x2="203.5" y2="59.5" id="Line-Copy-11" opacity="0.666457403"></line>
                        <line x1="305" y1="32.5" x2="295.5" y2="54.5" id="Line-Copy-40" opacity="0.669131324"></line>
                        <line x1="285" y1="25.5" x2="305" y2="32.5" id="Line-Copy-41" opacity="0.397042411"></line>
                        <line x1="264.5" y1="43.5" x2="305" y2="32.5" id="Line-Copy-42" opacity="0.601143973"></line>
                        <line x1="305" y1="32.5" x2="303.5" y2="19.5" id="Line-Copy-43" opacity="0.58530971"></line>
                        <line x1="288.5" y1="26.5" x2="303.5" y2="19.5" id="Line-Copy-46" opacity="0.397042411"></line>
                        <line x1="268.5" y1="2.5" x2="305.5" y2="10.5" id="Line-Copy-51" opacity="0.610770089"></line>
                        <line x1="289.5" y1="26.5" x2="305.5" y2="10.5" id="Line-Copy-52" opacity="0.598423549"></line>
                        <line x1="305" y1="32.5" x2="311.5" y2="34.5" id="Line-Copy-39" opacity="0.6"></line>
                        <line x1="303.5" y1="19.5" x2="311.5" y2="34.5" id="Line-Copy-47" opacity="0.397042411"></line>
                        <line x1="305.5" y1="10.5" x2="303.5" y2="19.5" id="Line-Copy-49" opacity="0.397042411"></line>
                        <line x1="268.5" y1="2.5" x2="288.5" y2="26.5" id="Line-Copy-50" opacity="0.680501302"></line>
                        <line x1="243.5" y1="4.5" x2="268.5" y2="2.5" id="Line-Copy-53" opacity="0.6"></line>
                </g>
                <g id="Points" fill="#209FB6">
                    <circle id="Oval" cx="9.5" cy="38.5" r="1"></circle>
                    <circle id="Oval-Copy-16" opacity="0.446475074" cx="88.5" cy="67.5" r="1"></circle>
                    <circle id="Oval-Copy-17" cx="104.5" cy="59.5" r="1"></circle>
                    <circle id="Oval-Copy-9" cx="0.5" cy="17.5" r="1"></circle>
                    <circle id="Oval-Copy-11" cx="22.5" cy="12.5" r="1"></circle>
                    <circle id="Oval-Copy" cx="90.5" cy="15.5" r="1.5"></circle>
                    <circle id="Oval-Copy-10" cx="63.5" cy="1.5" r="1.5"></circle>
                    <circle id="Oval-Copy-2" cx="136.5" cy="8.5" r="1.5"></circle>
                    <circle id="Oval-Copy-3" cx="183.5" cy="27.5" r="1.5"></circle>
                    <circle id="Oval-Copy-7" cx="214.5" cy="22.5" r="1.5"></circle>
                    <circle id="Oval-Copy-8" cx="243.5" cy="5.5" r="1.5"></circle>
                    <circle id="Oval-Copy-5" cx="254.5" cy="70.5" r="1.5"></circle>
                    <circle id="Oval-Copy-6" cx="203.5" cy="60.5" r="1.5"></circle>
                    <circle id="Oval-Copy-4" cx="145.5" cy="68.5" r="1.5"></circle>
                    <circle id="Oval" cx="295.5" cy="55.5" r="1"></circle>
                    <circle id="Oval-Copy-13" cx="311.5" cy="35.5" r="1"></circle>
                    <circle id="Oval-Copy-9" cx="305" cy="33.5" r="1"></circle>
                    <circle id="Oval-Copy-12" cx="303.5" cy="20.5" r="1"></circle>
                    <circle id="Oval-Copy-14" cx="268.5" cy="3.5" r="1"></circle>
                    <circle id="Oval-Copy-15" cx="305.5" cy="11.5" r="1"></circle>
                </g>
                <g id="h-Text" transform="translate(29.000000, 4.000000)" fill="#808080" font-family="FuturaPT-Bold, Futura PT" font-weight="bold" line-spacing="36.864">
                    <text id="H" font-size="35.3" letter-spacing="0.638382533">
                        <tspan x="0" y="40">H</tspan>
                    </text>
                    <text id="y" font-size="35.3" letter-spacing="0.638382533">
                        <tspan x="32" y="49">y</tspan>
                    </text>
                    <text id="p" font-size="35.3" letter-spacing="0.638382533">
                        <tspan x="59" y="40">p</tspan>
                    </text>
                    <text id="e" font-size="35.3" letter-spacing="0.638382533">
                        <tspan x="84" y="53">e</tspan>
                    </text>
                    <text id="r" font-size="35.3" letter-spacing="0.638382533">
                        <tspan x="112" y="47">r</tspan>
                    </text>
                    <text id="O" font-size="31.38944" letter-spacing="0.567662045">
                        <tspan x="133" y="63">O</tspan>
                    </text>
                    <text id="b" font-size="35.3" letter-spacing="0.638382533">
                        <tspan x="165" y="46">b</tspan>
                    </text>
                    <text id="j" font-size="35.3" letter-spacing="0.638382533">
                        <tspan x="194" y="48">j</tspan>
                    </text>
                    <text id="e" font-size="35.3" letter-spacing="0.638382533">
                        <tspan x="208" y="35">e</tspan>
                    </text>
                    <text id="k" font-size="35.3" letter-spacing="0.638382533">
                        <tspan x="230" y="52">k</tspan>
                    </text>
                    <text id="t" font-size="35.3" letter-spacing="0.638382533">
                        <tspan x="254" y="37">t</tspan>
                    </text>
                </g>
            </g>
        </g>
    </g>
</svg>