<svg width="" height="" viewBox="0 0 1060 1132" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" font-family="SFMono-Medium, SF Mono" font-size="21.3" font-weight="400" letter-spacing="1.01999998" line-spacing="53">
        <g id="firstSnippet" transform="translate(0.000000, -106.000000)" fill="#293852">
            <text id="code1">
                <tspan class="codeline" id="t1" x="79" y="109">const mapStateToProps = ({ </tspan>
                <tspan class="codeline" id="t2" x="79" y="162">  map: { coords, viewport },</tspan>
                <tspan class="codeline" id="t3" x="79" y="215">  sections: { map: { hovered } }</tspan>
                <tspan class="codeline" id="t4" x="79" y="268">}, {</tspan>
                <tspan class="codeline" id="t5" x="79" y="321">  match: { params: { metric, demographic } }</tspan>
                <tspan class="codeline" id="t6" x="79" y="374">}) =&gt; {</tspan>
                <tspan class="codeline" id="t7" x="79" y="427">  const varName = [demographic, metric].join('_')</tspan>
                <tspan class="codeline" id="t8" x="79" y="480">  return {</tspan>
                <tspan class="codeline" id="t9" x="79" y="533">    x: coords &amp;&amp; coords.x,</tspan>
            </text>
        </g>
        <filter id="blurMe">
                <feGaussianBlur in="SourceGraphic" stdDeviation="1.5" />
              </filter>
        <g id="secondSnippet" fill="#293852" filter="url(#blurMe)">
                <text id="code2" >
                    <tspan class="codeline2" id="t1-1" x="79" y="109">export const getRangeFromVarName = (varName, region) => {</tspan>
                    <tspan class="codeline2" id="t1-2" x="79" y="162">export const getRangeFromVarName = (varName, region, type) => {</tspan>
                    <tspan class="codeline2" id="t1-3" x="79" y="215">const metricId = getMetricIdFromVarName(varName)</tspan>
                    <tspan class="codeline2" id="t1-4" x="79" y="268">const demId = getDemographicIdFromVarName(varName)</tspan>
                    <tspan class="codeline2" id="t1-5" x="79" y="321">return getMetricRange(metricId, demId, region);</tspan>
                    <tspan class="codeline2" id="t1-6" x="79" y="374">getMetricRange(metricId);</tspan>
                    <tspan class="codeline2" id="t1-7" x="79" y="427">if (key === '*')</tspan>
                    <tspan class="codeline2" id="t1-8" x="79" y="480">const [t, r, d = false ];</tspan>
                    <tspan class="codeline2" id="t1-9" x="79" y="533">return (t === '*' || t === type) &&</tspan>
                </text>
            </g>
        <g id="thirdSnippet" fill="#293852">
                <text id="code3" >
                    <tspan class="codeline3"  x="79" y="109">import { getMapColors};</tspan>
                    <tspan class="codeline3"  x="79" y="162">import { getMapColors };</tspan>
                    <tspan class="codeline3"  x="79" y="215">import { onHoverFeature};</tspan>
                    <tspan class="codeline3"  x="79" y="268">import { getStateFipsFromAbbr, getStatePropByAbbr };</tspan>
                    <tspan class="codeline3"  x="79" y="321">import { getFeatureProperty };</tspan>
                    <tspan class="codeline3"  x="79" y="374">export const getRangeFromVarName = (varName, region, type) => {</tspan>
                    <tspan class="codeline3"  x="79" y="427">const metricId = getMetricIdFromVarName(varName)</tspan>
                    <tspan class="codeline3"  x="79" y="480">        colors: getColorsFromParam(color, varName, region, type),</tspan>
                    <tspan class="codeline3"  x="79" y="533"> colorRange: getMetricRange(metric, 'map'),</tspan>
                  <!--  <tspan class="codeline3"  x="79" y="586">    x: coords &amp;&amp; coords.x,</tspan> -->
                </text>
            </g>    
            <g id="fourthSnippet" fill="#293852" filter="url(#blurMe)">
                    <text id="code4" >
                        <tspan class="codeline4"  x="79" y="109">      legendRange: getMetricRange(metric, demographic, region),</tspan>
                        <tspan class="codeline4"  x="79" y="162">  markerPosition: hovered && hovered.properties ?</tspan>
                        <tspan class="codeline4"  x="79" y="215"> getValuePositionForMetric(</tspan>
                        <tspan class="codeline4"  x="79" y="268">getFeatureProperty(hovered, demographic + '_' + metric),</tspan>
                        <tspan class="codeline4"  x="79" y="321">legend: {</tspan>
                        <tspan class="codeline4"  x="79" y="374">colors: getColorsFromParam(color),</tspan>
                        <tspan class="codeline4"  x="79" y="427">colorRange: getMetricRange(metric),</tspan>
                        <tspan class="codeline4"  x="79" y="480">legendRange: getMetricRange(metric),</tspan>
                        <tspan class="codeline4"  x="79" y="533">markerPosition: hovered ?</tspan>
                    </text>
                </g>        
    </g>
</svg>